@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.codespan {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 55px;
    text-align: center;
    animation: AppearOnOpenCode 1s, AppearOnOpenCodeText 1s;
}

.codep {
    font-family: 'Montserrat', sans-serif;
    color:rgb(32, 32, 32);
    text-align: center;
    animation: AppearOnOpenCodeText 2.5s;
}

@keyframes AppearOnOpenCode {
    from  {
        transform: translateX(-15%)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes AppearOnOpenCodeText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}