@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
        width: 100vw;
        height: 90vh;
        margin: 0;
}

.box {
        height: 90vh;
        width: 100vw;
        margin: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
}

.phoneInfo {
        font-weight: bold;
        margin: 65px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        text-align: center;
}

.phoneInfo a {
        font-weight: 500;
        font-size: 30px;
        animation: AppearOnOpen 2s;
}

.phoneInfo a:hover {
        color:rgb(224, 184, 120);
}

.pColor {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
}

.mailP {
        color: rgb(0, 0, 0);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 100px;
        grid-column: 2;
        grid-row: 3;
}

.mailP p {
        display: inline;
}

.mailP a {
        border-bottom: 2px solid black;
        animation: AppearOnOpen 2s;
}

.mailP a:hover {
        color:rgb(224, 184, 120);
        border-bottom: 2px solid rgb(224, 184, 120);
        transition: all ease-in-out 100ms;
}

.gridLabelZero {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
}

.gridLabelOne {
        grid-column: 1;
        grid-row: 2;
}

.gridInputOne {
        grid-column: 2;
        grid-row: 2;
}

.gridLabelTwo {
        grid-column: 1;
        grid-row: 3;
}
.gridInputTwo {
        grid-column: 2;
        grid-row: 3;
}
.gridLabelThree {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 4;
}
.gridTextArea {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 5;
}

.buttonSend {
        background-color: #161616;
        color: rgb(255, 255, 255);
        border-color: rgb(58, 58, 58);
        border-style: solid;
        margin-left: 12vw;
        margin-right: 12vw;
        font-size: 20px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 6;
        transition: all ease-in-out 70ms;
}
.buttonSend:hover{
        border-radius: 12px;
        font-size: 20px;
        background-color: #0f0f0f;
}

.buttonSend:active{
        background-color: #000000;
        border-radius: 50px;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 20px;
        box-shadow: 0px 4px 10px 1px rgba(255, 255, 255, 0.1);
}

.invertedSvg1 {
        filter: invert(1);
        grid-row: 3;
}

.centerEmail {
        display: flex;
        align-items: center;
        justify-content: center;
}