@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
        width: 100vw;
        height: 90vh;
        margin: 0;
}

.box {
        height: 90vh;
        width: 100vw;
        margin: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
}

.phoneInfo {
        font-weight: bold;
        margin: 65px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        text-align: center;
}

.phoneInfo a {
        font-weight: 500;
        font-size: 30px;
        animation: AppearOnOpen 2s;
}

.phoneInfo a:hover {
        color:rgb(224, 184, 120);
}

.pColor {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
}

.mailP {
        color: rgb(0, 0, 0);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 100px;
        grid-column: 2;
        grid-row: 3;
}

.mailP p {
        display: inline;
}

.mailP a {
        border-bottom: 2px solid black;
        animation: AppearOnOpen 2s;
}

.mailP a:hover {
        color:rgb(224, 184, 120);
        border-bottom: 2px solid rgb(224, 184, 120);
        transition: all ease-in-out 100ms;
}