@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


.mainFooter {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(119, 119, 119);
    padding-top : 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.text {
    color: rgb(37, 37, 37);
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}