@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.photospan {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 55px;
    text-align: center;
    animation: AppearOnOpenPhoto 1s;
}

.photop {
    font-family: 'Montserrat', sans-serif;
    color:rgb(32, 32, 32);
    text-align: center;
    animation: AppearOnOpenPhotoText 2.5s;
}

@keyframes AppearOnOpenPhoto {
    from  {
        margin-left: 10%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes AppearOnOpenPhotoText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}