@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.ProjectSample h1 {
    text-align: left;
    font: 35px 'Montserrat', sans-serif;
    border-bottom: 1px solid #aaa;
}

.ProjectSample div{
    font: 20px 'Montserrat', sans-serif;
    margin: 10px;
    margin-bottom: 35px;
}


