@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.ProjectSample div:nth-child(1) {
    font: 35px 'Montserrat', sans-serif;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.ProjectSample div:nth-child(2) {
    font: 20px 'Montserrat', sans-serif;
}


