@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapperSocials {
    height: 200px;
    width: 45vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    padding: 10px;
    padding-left: 1.5vw;
    border-radius: 15px;
    margin-left: 28%;
    animation: AppearOnOpen 0.5s;
    border: 1px solid rgba(0, 0, 0, 0.445);

}

@keyframes AppearOnOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.sCircle {
    align-items: center;
    width: 20vw;
    color: rgb(32, 32, 32);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 5px;
    text-align: center;
    font: 17px 'Montserrat', sans-serif;
    background:#f1f1f1;
    border-radius: 50px;
    padding: 7px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 100ms;
}


.telegram:hover {
    color: rgb(0, 174, 197);
}

.vk:hover {
    color: rgb(0, 132, 240);
}

.instagram:hover {
    color:rgb(255, 30, 0);
}

.github:hover {
    color: black;
    box-shadow: 0px 10px 10px -10px rgb(0, 0, 0); 
}

.cntr {
    margin: 0;
    align-content: center;
}

.sh1 {
    margin: 30px 0px 70px 0px;
    text-align: center;
    font: bold 50px 'Montserrat', sans-serif;
    color: rgb(31, 31, 31);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
