@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapperSocials {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 10px;
    padding-left: 1.5vw;
    border-radius: 5px;
    height: 200px;
    width: 45vw;
    margin-left: 28%;
    background: #e9e9e9;
    box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.15);

}

.sCircle {
    width: 20vw;
    color: rgb(32, 32, 32);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 5px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background:#ececec;
    border-radius: 50px;
    padding: 7px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 100ms;
}


.telegram:hover {
    color: rgb(0, 174, 197);
}

.vk:hover {
    color: rgb(0, 132, 240);
}

.instagram:hover {
    color:rgb(255, 30, 0);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.github:hover {
    color: black;
    box-shadow: 0px 10px 10px -10px rgb(0, 0, 0); 
}

.cntr {
    margin: 0;
    align-content: center;
}

.sh1 {
    margin: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: rgb(31, 31, 31);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
