@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}


.unselectable {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;       
  -ms-user-select: none;       
  user-select: none; 
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 250px 150px 150px;
  grid-gap: 10px;
}

.warning {
  text-align: center;
}


.bgcolor {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  
}



.main {
  border-radius: 20px;
  height: 300px;
  background: #161616;
  box-shadow: 0px 2px 40px -10px rgba(0,0,0,0.5);
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: px 250px;
}

.mainPhoto {
  width: 143px;
  height: 300px;
  border-radius: 0px 20px 20px 0px;
  float: center;
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}


.info {
  height: 55vh;
  background-blend-mode: multiply;
  background-color: #484747;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.infotext {
  padding-left: 20px;
  color: #ECECEC;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-align: left;
  grid-column: 1;
}

.infotextWelcome {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  color: #ECECEC;
  font-family: 'Montserrat', monospace;
  font-size: 35px;
  grid-column: 1;
  position: relative;
}
.centering {
  padding-left: 5px;
  display: flex;
  text-align: center;
}

.infotextWelcome::before,
.infotextWelcome::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.infotextWelcome::before {
  background: #161616;
  animation: typer 3s steps(35) forwards;
}

.infotextWelcome::after {
  width: 0.125em;
  height: 35px;
  background: white;
  animation: 
    typer 3s steps(35) forwards,
    blinker 750ms steps(31) infinite;
}

@keyframes typer{
  to {
    left: 100%;
  }
}

@keyframes blinker {
  to {
    background: transparent;
  }
}


.infotextdark {
  color: #161616;
  font-family: 'Montserrat', sans-serif;
}

.gridCode {
  grid-column: 2;
  grid-row: 2;
}

.gridPhotos {
  grid-column: 4;
  grid-row: 2;
}

.works {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 6;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  
}
.works1 {
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 6;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background-image:linear-gradient(#838383, #353535);
}

::-webkit-scrollbar-thumb:active {
  background-image:linear-gradient(#353535, #353535);
  border-radius: 3px;
}
